/* Write GOOD comments so that next developer ... */
/* ( who happens to be a killer psycopath & knows where you stay ). */
/* He's going to maintain this code; need NOT have to get back to you */

/* ----------- ----------- ----------- ----------- ----------- ----------- */
/* --------------------------- generic styling --------------------------- */
/* ----------- ----------- ----------- ----------- ----------- ----------- */

@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap");

:root {
  /* color related */

  --clr-primary-dark-cyan: hsl(158, 36%, 37%);
  --clr-primary-cream: hsl(30, 38%, 92%);

  --clr-neutral-very-dark-blue: hsl(212, 21%, 14%);
  --clr-neutral-dark-grayish-blue: hsl(228, 12%, 48%);
  --clr-neutral-white: hsl(0, 0%, 100%);

  /* fonts related */

  --ff-primary: "Fraunces", serif;
  --ff-secondary: "Montserrat", sans-serif;

  --fw-500: 500;
  --fw-700: 700;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  /* 62.5% of 16px browser font size is 10px */
  font-size: 62.5%;
  height: 100%;
}

body {
  /* 16px */
  font-size: 1.6em;
  font-family: var(--ff-primary);
}

img {
  max-width: 100%;
  display: block;
}

p {
  line-height: 1.7;
}

/* ----------- ----------- ----------- ----------- ----------- ------------ */
/* --------------------------- specific styling --------------------------- */
/* ----------- ----------- ----------- ----------- ----------- ------------ */

/* ----------- ----------- ----------- mobile first approach ----------- ----------- ----------- */

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "image-container"
    "product-details-container";

  min-width: 37.5rem;

  padding: 4rem 2rem;

  background: var(--clr-primary-cream);
  height: 100vh;
}

/* style 1st component - mobile */

.image-container__product-image {
  border-top-right-radius: 0.8rem;
  border-top-left-radius: 0.8rem;

  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* style 2nd component - mobile */

.product-details-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "product-details-container__product-type product-details-container__product-type"
    "product-details-container__product-name product-details-container__product-name"
    "product-details-container__product-info product-details-container__product-info"
    "product-details-container__product-discounted-price product-details-container__product-original-price"
    "product-details-container__add-to-cart product-details-container__add-to-cart";
  gap: 1rem;

  padding: 2rem;

  background: var(--clr-neutral-white);

  border-bottom-right-radius: 0.8rem;
  border-bottom-left-radius: 0.8rem;
}

.product-details-container__product-type {
  text-transform: uppercase;

  font-family: var(--ff-secondary);
  font-size: 1.3rem;

  letter-spacing: 0.4rem;
  color: var(--clr-neutral-dark-grayish-blue);
}

.product-details-container__product-name {
  font-size: 3rem;
}

.product-details-container__product-info {
  font-family: var(--ff-secondary);
  font-size: 1.4rem;

  color: vaR(--clr-neutral-dark-grayish-blue);
}

.product-details-container__product-discounted-price {
  font-size: 3rem;

  color: var(--clr-primary-dark-cyan);
}

.product-details-container__product-original-price {
  align-self: center;

  font-family: var(--ff-secondary);
  font-size: 1.3rem;

  text-decoration: line-through;

  color: vaR(--clr-neutral-dark-grayish-blue);
}

.product-details-container__add-to-cart {
  background: var(--clr-primary-dark-cyan);
  color: var(--clr-neutral-white);

  font-family: var(--ff-secondary);
  font-size: 1.3rem;

  padding: 1.2rem;
  border: none;

  border-radius: 0.75rem;

  position: relative;
}

.product-details-container__add-to-cart > img {
  position: absolute;
  top: 30%;
  left: 27%;
}

/* ----------- ----------- ----------- desktop second approach ----------- ----------- ----------- */

@media screen and (min-width: 48rem) {
  .grid-container {
    grid-template-columns: 26rem 26rem;
    grid-template-rows: 40rem;
    grid-template-areas: "image-container product-details-container";

    max-width: 144rem;

    justify-content: center;
    align-content: center;
  }

  /* style 1st component - desktop */

  .image-container__product-image {
    content: url("../images/image-product-desktop.jpg");

    border-top-right-radius: 0;
    border-bottom-left-radius: 0.8rem;
  }

  /* style 2nd component - desktop */

  .product-details-container {
    padding: 2rem 3rem;
  }

  .product-details-container {
    border-bottom-left-radius: 0;
    border-top-right-radius: 0.8rem;
  }

  .product-details-container__product-type {
    font-size: 1rem;
  }

  .product-details-container__product-info {
    font-size: 1.2rem;
  }

  .product-details-container__add-to-cart {
    font-size: 1rem;

    padding: 0.8rem;
  }

  .product-details-container__add-to-cart > img {
    width: 6%;
    left: 24%;
    height: 33%;
  }
}

/* ----------- ----------- ----------- grid area names ----------- ----------- ----------- */

/* Component 1 grid areas */

.image-container {
  grid-area: image-container;
}

.image-container__product-image {
  grid-area: image-container__product-image;
}

/* Component 2 grid areas */

.product-details-container {
  grid-area: product-details-container;
}

.product-details-container__product-type {
  grid-area: product-details-container__product-type;
}

.product-details-container__product-name {
  grid-area: product-details-container__product-name;
}

.product-details-container__product-info {
  grid-area: product-details-container__product-info;
}

.product-details-container__product-discounted-price {
  grid-area: product-details-container__product-discounted-price;
}

.product-details-container__product-original-price {
  grid-area: product-details-container__product-original-price;
}

.product-details-container__add-to-cart {
  grid-area: product-details-container__add-to-cart;
}
